.notes-details-container {
  display: table;
  flex-flow: row wrap;
  overflow: auto;

  .row {
    display: table-row;
    width: 100%;

    .note-details {
      display: table-cell;
      width: 33.3%;
      vertical-align: top;

      md-card {
        margin: 20px;
      }
    }
  }
}
