<div class="row ma-note-details-container">
  <div class="col-sm-6 col-sm-offset-3">
    <legend>View and Edit Your Note Details:</legend>
    <form class="form-horizontal" *ngIf="note" (submit)="saveNote()">
      <div class="form-group">
        <label>Title</label>
        <input [disabled]="!isOwner" type="text" [(ngModel)]="note.title" name="title" class="form-control">
      </div>

      <div class="form-group">
        <label>Description</label>
        <input [disabled]="!isOwner" type="text" [(ngModel)]="note.description" name="description" class="form-control">
      </div>

      <div class="form-group">
        <button [disabled]="!isOwner" type="submit" class="btn btn-primary">Save</button>
        <a [routerLink]="['/']" class="btn">Back</a>
      </div>
    </form>
  </div>
</div>
