<br/>
<div *ngIf="user" layout="row" layout-align="center start" >
  <button class="add-note" md-fab (click)="toggleAddNote()">
    <i class="fa fa-plus" aria-hidden="true" style="color:white"></i>
  </button>
</div>
<div *ngIf="user" class="md-content" layout="row" layout-align="center start" layout-fill layout-margin>
  <div layout="column" flex flex-md="50" flex-lg="50" flex-gt-lg="33" class="md-whiteframe-z2" layout-fill>
      <form  *ngIf="showAddNote" [formGroup]="addForm" #f="ngForm" (ngSubmit)="addNote()"
            layout="column" layout-fill layout-padding layout-margin>

        <md-input formControlName="title" type="text" placeholder="Note title"></md-input>
        <md-input formControlName="description" type="text" placeholder="Description"></md-input>
        <button color="accent" md-raised-button type="submit">Create Note</button>
      </form>
      <md-divider></md-divider>
    </div>
  </div>
