<div class="notes-details-container" *ngIf="note">
  <div class="row">
    <div class="note-details">
      <md-card>
        <h2>{{ note.title }}</h2>
        <form layout="column" (submit)="saveNote()">
          <label>Title: </label>
          <md-input [disabled]="!isOwner" [(ngModel)]="note.title" name="title"></md-input>
          <br />
          <label>Note Description: </label>
          <md-input [disabled]="!isOwner" [(ngModel)]="note.description" name="description"></md-input>
          <br />
          <md-checkbox [disabled]="!isOwner" [(checked)]="note.public" name="public" aria-label="Public">
            Public note?
          </md-checkbox>
          <div layout="row" layout-align="left">
            <button [disabled]="!isOwner" type="submit" md-raised-button color="accent">Save</button>
            <a [routerLink]="['/']" md-raised-button class="md-raised">Back</a>
          </div>
        </form>
      </md-card>
    </div>
  </div>
</div>
