<div class="md-content" layout="row" layout-align="center start" layout-fill layout-margin>
  <div layout="column" flex flex-md="50" flex-lg="50" flex-gt-lg="33" class="md-whiteframe-z2" layout-fill>
    <div class="note-details">
      <md-card>
        <h2>{{ note.title }}</h2>
        <form layout="column" (submit)="saveNote()">
          <label>Title: </label>
            <md-input [disabled]="!isOwner" [(ngModel)]="note.title" name="title"></md-input>
            <br />
          <label>Description: </label>
          <md-input-container>
            <textarea md-input [disabled]="!isOwner" [(ngModel)]="note.description" name="description" type="text" wrap="hard" columns="1" rows="2" md-maxlength="150"></textarea>
          </md-input-container>
          <br />
          <div layout="row" layout-align="left">
            <button [disabled]="!isOwner" type="submit" md-raised-button color="accent">Save</button>
            <a [routerLink]="['/']" md-raised-button class="md-raised">Back</a>
          </div>
        </form>
      </md-card>
    </div>
  </div>
</div>
